In [154]:
import json
import requests

from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import *

In [155]:
spark = SparkSession \
    .builder \
    .appName("Spark SQL Exemplo") \
    .getOrCreate()

request = requests.get("http://apidatalake.tesouro.gov.br/ords/custos/tt/depreciacao?offset=123999")
df = spark.createDataFrame([json.loads(line) for line in request.iter_lines()])

In [204]:
#  ------------------- Don't know how to proceed with this, Pivot???---------------------------------------

df.printSchema()
# df = df.select("items")
df2 = df.select(explode(df.items))
df3 = df2.select(explode(df2.col))
df3.printSchema()
df3.show()
#  ------ possible solution with pivot? -----


#  ------------------- Solution 1 ?------------------------------------------------------------------------

# df.printSchema()
# df = df.select("items")
# df2 = df.select(explode(df.items))
# df2.printSchema()
# df2.show()
# df3 = df2\
#     .withColumn("co_natureza_juridica", col('col').getItem('co_natureza_juridica'))\
#     .withColumn("ds_natureza_juridica", col('col').getItem('ds_natureza_juridica'))\
#     .withColumn("co_organizacao_n1", col('col').getItem('co_organizacao_n1'))\
#     .withColumn("ds_organizacao_n1", col('col').getItem('ds_organizacao_n1'))\
#     .withColumn("co_organizacao_n2", col('col').getItem('co_organizacao_n2'))\
#     .withColumn("ds_organizacao_n2", col('col').getItem('ds_organizacao_n2'))\
#     .withColumn("co_organizacao_n3", col('col').getItem('co_organizacao_n3'))\
#     .withColumn("ds_organizacao_n3", col('col').getItem('ds_organizacao_n3'))\
#     .withColumn("an_lanc", col('col').getItem('an_lanc'))\
#     .withColumn("me_lanc", col('col').getItem('me_lanc'))\
#     .withColumn("id_conta_contabil", col('col').getItem('id_conta_contabil'))\
#     .withColumn("no_conta_contabil", col('col').getItem('no_conta_contabil'))\
#     .withColumn("va_custo_depreciacao", col('col').getItem('va_custo_depreciacao'))
# df3.createOrReplaceTempView("items")
# spark.sql("""select co_natureza_juridica,
#           ds_natureza_juridica,
#           co_organizacao_n1,
#           ds_organizacao_n1,
#           co_organizacao_n2,
#           ds_organizacao_n2,
#           co_organizacao_n3,
#           ds_organizacao_n3,
#           an_lanc,
#           me_lanc,
#           id_conta_contabil,
#           no_conta_contabil,
#           va_custo_depreciacao
#           from items""").show()

root
 |-- items: array (nullable = true)
 |    |-- element: map (containsNull = true)
 |    |    |-- key: string
 |    |    |-- value: long (valueContainsNull = true)

root
 |-- key: string (nullable = false)
 |-- value: long (nullable = true)

+--------------------+---------+
|                 key|    value|
+--------------------+---------+
|             an_lanc|     2020|
|   co_organizacao_n3|     null|
|   co_organizacao_n2|     null|
|   co_organizacao_n1|     null|
|ds_natureza_juridica|     null|
|   id_conta_contabil|333110200|
|va_custo_depreciacao|     null|
|   ds_organizacao_n1|     null|
|   ds_organizacao_n2|     null|
|   ds_organizacao_n3|     null|
|             me_lanc|       11|
|co_natureza_juridica|        3|
|   no_conta_contabil|     null|
|             an_lanc|     2020|
|   co_organizacao_n3|     null|
|   co_organizacao_n2|     null|
|   co_organizacao_n1|     null|
|ds_natureza_juridica|     null|
|   id_conta_contabil|333110200|
|va_custo_depreciacao|     null|
+--------------------+---------+
only showing top 20 rows